<!-- INCLUDE HEADER -->
<% include ../partials/header %>




<div class="container formContainer">
    <h1 class="display-5 smallerHeader">EDIT PLATFORMS FOR <%= game.title.toUpperCase() %></h1>
    <h4 class="display-5 subHeader">CURRENTLY OWNED PLATFORMS:</h4>

    <form action="/games/<%= game._id %>?_method=PUT" method="POST">

        <!-- Create empty array.  
            This array will be used to compare currently owned platforms 
            to additional platforms in the Giant Bomb db.  -->
        <% var currentlyOwned = []; %>
        
        <% game.platforms.forEach(function (platform) { %>
            <% currentlyOwned.push(platform); %>
            <div>
                <input type="checkbox" name="platforms" value="<%= platform %>" checked>
                <label class="lightGrayColor"><%= platform %></label>
            </div>
        <% }); %>

        <h4 class="display-5 subHeader">Additional Platforms:</h4>

        <% data.results.platforms.forEach(function (platform) { %>
            <!-- Compare platform to those in the currentyOwned array -->
            <!-- If no match, display platform as a new selection -->
            <% if (currentlyOwned.indexOf(platform.name) === -1) { %> 
                <div>
                    <input type="checkbox" name="platforms" value="<%= platform.name %>">
                    <label class="grayColor"><%= platform.name %></label>
                </div>
            <% } %> 
        <% }); %>

    <br>
    <button class="btn btn-outline-secondary" type="submit">Update Platforms</button>

    </form>
</div>


<%# Use Jquery to check if a checkbox is selected. %>
<%# If any boxes are selected, enable the submit button %>
<script>
  var checkboxes = $("input[type='checkbox']"),
      submitButt = $("button[type='submit']");

  checkboxes.click(function() {
      submitButt.attr("disabled", !checkboxes.is(":checked"));
  });
</script>



<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>