<!-- INCLUDE HEADER -->
<% include ../partials/header %>


<h1>MY COLLECTION</h1>

<form action="/games/results" method="GET">
		<label>Add A Game To Your Collection</label>
		<input type="text" name="search" placeholder="search">
		<button>Search</button>
</form>


<h2>ALL GAMES</h2>


<!-- Loop through all games and display the title for each -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Title
                <!-- Sort Decending By Title -->
                <a type="button" class="btn btn-default btn-xs" aria-label="Left Align" href="/games/sort/title">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </a>
                <!-- Sort Accending By Title -->
                <a type="button" class="btn btn-default btn-xs" aria-label="Left Align" href="/games/sort/titleAccending">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </th>
            <th>
                Release Year
                </a>
                <!-- Sort Decending By Release Date -->
                <a type="button" class="btn btn-default btn-xs" aria-label="Left Align" href="/games/sort/date">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </a>
                <!-- Sort Accending By Release Date -->
                <a type="button" class="btn btn-default btn-xs" aria-label="Left Align" href="/games/sort/dateDecending">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </a>
            </th>
            <th>
                Date Added
                </a>
                <!-- Sort Decending By Date Added -->
                <a type="button" class="btn btn-default btn-xs" aria-label="Left Align" href="/games/sort/dateAdded">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </a>
                <!-- Sort Accending By Date Added -->
                <a type="button" class="btn btn-default btn-xs" aria-label="Left Align" href="/games/sort/dateAddedDecending">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </a>
            </th>
            <th>Platforms Owned On</th>
             <!-- If displaying currentUser's collection, display Delete Game category -->
            <% if (currentUser) { %>
                <% if (games[0].author.id.equals(currentUser._id)) { %>
                    <th>Delete Game</th>
                <% } %>
            <% } %>
        </tr>
    </thead>

    <tbody>
        <% games.forEach(function(game) { %>
            <tr>
                <td><a href="/games/<%= game._id %>"><%= game.title %></a></td>
                <td><%= game.date %></td>
                <!-- Use Moment framework to display date -->
                <td><%= moment(game.dateAdded).format("MMMM Do YYYY, h:mm:ss a") %></td>
                <td>
                    <!-- Check if it's the last platform in the list -->
                    <!-- If not, add a comma after the platform -->
                    <% for (var i = 0; i < game.platforms.length; i++) { %>
                        <% if (i !== (game.platforms.length - 1)) { %>
                            <%= game.platforms[i] + "," %>
                        <% } else { %> 
                            <%= game.platforms[i] %>
                            <!-- If displaying currentUser's collection, display edit button -->
                            <% if (currentUser) { %>
                                <% if (game.author.id.equals(currentUser._id)) { %>
                                    <a class="btn btn-default btn-xs" href="/games/<%= game._id %>/edit">Edit</a>
                                <% } %>
                            <% } %>
                        <% } %> 
                    <% }; %>
                </td>
                <td>
                    <!-- If displaying currentUser's collection, display delete button -->
                    <% if (currentUser) { %>
                        <% if (games[0].author.id.equals(currentUser._id)) { %>
                                <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-xs">Delete</button>
                                </form>
                        <% } %>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>



<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>
