<!-- INCLUDE HEADER -->
<% include ../partials/header %>


<h1>MY COLLECTION</h1>

<form action="/games/results" method="GET">
		<label>Add A Game To Your Collection</label>
		<input type="text" name="search" placeholder="search">
		<button>Search</button>
</form>

<h2>ALL GAMES</h2>

<!-- Bootstrap dropdown for display sorting -->
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="sortDropdown">
      <li><a href="/games/sort/title">A-Z</a></li>
      <li><a href="/games/sort/titleAccending">Z-A</a></li>
      <li><a href="/games/sort/dateAdded">Date Added - Oldest First</a></li>
      <li><a href="/games/sort/dateAddedDecending">Date Added - Newest First</a></li>
      <li><a href="/games/sort/date">Date Released - Oldest First</a></li>
      <li><a href="/games/sort/dateDecending">Date Released - Newest First</a></li>
      <!-- <li><a href="/games/sort/platform">Platform</a></li> -->
  </ul>
</div>



<!-- Loop through all games and display the title for each -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Platforms Owned On</th>
            <th>Date Added</th>
        </tr>
    </thead>

    <tbody>
        <% games.forEach(function(game) { %>
            <tr>
                <td><a href="/games/<%= game._id %>"><%= game.title %></a></td>
                <td><%= game.date %></td>
                <td>
                    <!-- Check if it's the last platform in the list -->
                    <!-- If not, add a comma after the platform -->
                    <% for (var i = 0; i < game.platforms.length; i++) { %>
                        <% if (i !== (game.platforms.length - 1)) { %>
                            <%= game.platforms[i] + "," %>
                        <% } else { %> 
                            <%= game.platforms[i] %>
                        <% } %> 
                    <% }; %>
                </td>
                <td><%= game.dateAdded %></td>
            </tr>
        <% }); %>
    </tbody>
</table>






<script>
    $(document).ready(function () {
        $('#sortDropdown').dropdown();
    });
</script>




<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>
