<!-- INCLUDE HEADER -->
<% include ../partials/header %>


<div class="container formContainer">
  <form action="/games" method="POST">
    <!-- Pass the resourceId through to CREATE  -->
    <input type="hidden" name="resourceId" value="<%= resourceId %>">
    <div>
      <input type="hidden" name="title" value="<%= data.results.name %>">
      <h1 class="display-4 smallerHeader"><%= data.results.name.toUpperCase() %></h1>
    </div>

    <div>
      <input type="hidden" name="date" value="<%= data.results.original_release_date.substring(0, 4) %>">
      <h2 class="selectPlatformsDate display-5"><%= data.results.original_release_date.substring(0, 4) %></h2>
    </div>

    <br>
    <h4 class="selectPlatforms display-5">Select Your Platform(s):</h4>
    <% data.results.platforms.forEach (function (platform) { %>
      <div>
        <input type="checkbox" name="platforms" value="<%= platform.name %>">
        <label class="lightGrayColor"><%= platform.name %></label>
      </div>
    <% }); %>


    <br>
    <button class="btn btn-outline-secondary" type="submit" name="game" value="<%= data.results.name %>" disabled>
      Add Game To Your Collection</button>
  </form>
</div>

<%# Use Jquery to check if a checkbox is selected. %>
<%# If any boxes are selected, enable the submit button %>
<script>
  var checkboxes = $("input[type='checkbox']"),
      submitButt = $("button[type='submit']");

  checkboxes.click(function() {
      submitButt.attr("disabled", !checkboxes.is(":checked"));
  });
</script>


<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>
