<h1>RESULTS SHOW</h1>

<form action="/games" method="POST">
  <div>
    <input type="hidden" name="title" value="<%= data.results.name %>">
    <%= data.results.name %>
  </div>

  <div>
    <input type="hidden" name="date" value="<%= data.results.original_release_date.substring(0, 4) %>">
    <%= data.results.original_release_date.substring(0, 4) %>
  </div>

  <br>
  <% data.results.platforms.forEach (function (platform) { %>
    <div class="">
      <input type="checkbox" name="platforms" value="<%= platform.name %>">
      <label><%= platform.name %></label>
    </div>
  <% }); %>


  <br>
  <button type="submit" name="game" value="<%= data.results.name %>">Add Game(s) To Your Collection</button>
</form>
