<!-- INCLUDE HEADER -->
<% include ../partials/header %>


<h1>SHOW PAGE</h1>


<h2><%= game.title %></h2>

<p><%= game.date %></p>

<h4>Owned On:</h4>

<% game.platforms.forEach(function (platform) { %>
  <p><%= platform %></p>
<% }); %> 


<!-- Check for game ownership -->
<!-- If logged in user is not the author of the game entry, don't display the Edit and Delete buttons  -->
<% if (currentUser) { %>
  <% if (game.author.id.equals(currentUser._id)) { %>
    <a href="/games/<%= game._id %>/edit">Edit Platforms</a>

    <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  <% } %>
<% } %>



<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>